@font-face {
   font-family: 'SBSansDisplay-Bold';
   font-display: swap;
   src: url('file:///C:/Users/toshiba/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-02-28_001150/fonts/SBSansDisplay-Bold/font.ttf');
}
